@tailwind components;

@layer components {
    .clients {
        @apply text-center w-[90%] mx-auto py-10;
    }

    .clients h1 {
        @apply text-3xl text-blue-600 font-extrabold mb-4 mobile-sm:text-2xl;
    }

    .clients__list {
        @apply flex items-center justify-center _tablet:flex-wrap mobile-lg:flex-wrap;
    }

    .clients__list img {
        @apply w-[17%] p-5 _tablet:w-[200px] _mobile-lg:w-[160px] mobile-sm:w-[50%];
    }

    .clients__list .resize {
        @apply w-[9%] _tablet:w-[120px] _mobile-lg:w-[90px] mobile-sm:w-[25%];
    }
}
