@tailwind components;

@layer components {
    .header {
        @apply bg-[#f4f7ff] text-center py-28 mobile-lg:py-10 border-b-8 border-blue-600 tablet:px-10;
    }

    .header h3 {
        @apply text-slate-800 font-extrabold text-4xl _mobile-lg:text-2xl mobile-sm:text-lg;
    }

    .header h1 {
        @apply text-blue-600 font-extrabold text-6xl uppercase mt-3 mobile-sm:text-2xl _mobile-lg:text-3xl _tablet:text-5xl;
    }

    .header p {
        @apply font-medium text-slate-700 mt-3 mobile-sm:text-sm w-[400px] mx-auto mobile-lg:w-[90%];
    }

    .header button {
        @apply px-7 py-2 bg-blue-600 hover:bg-blue-500 font-semibold text-white rounded mt-5;
    }
}
