@tailwind components;

@layer components {
    .footer {
        @apply w-full bg-[#00103b];
    }

    .footer__container {
        @apply w-[80%] mx-auto text-white;
    }

    .footer__content {
        @apply flex items-center pt-20 pb-14 mobile-lg:flex-col mobile-lg:justify-center;
    }

    .footer__content__left {
        @apply flex-[50%] space-y-5 mobile-lg:text-center;
    }

    .footer__content__right {
        @apply flex-[50%] pl-40 _tablet:pl-10 space-y-4 mobile-lg:pl-0 mobile-lg:mt-16;
    }

    .footer__content__left img {
        @apply w-[300px] _tablet:w-[250px] mobile-lg:mx-auto;
    }

    .footer__content__left p {
        @apply w-[85%] font-light _desktop-sm:w-[100%] _tablet:w-[100%] mobile-lg:mx-auto;
    }

    .footer__content__left i {
        @apply mr-3 text-5xl cursor-pointer mobile-lg:text-4xl;
    }

    .footer__content__right div {
        @apply flex items-center space-x-4;
    }

    .footer__content__right div > i {
        @apply p-2 bg-blue-600 rounded-full cursor-pointer;
    }

    .footer__content__right div:nth-child(3) > i {
        @apply py-2 px-[10px] bg-blue-600 rounded-full;
    }

    .footer__copyright {
        @apply text-center text-sm py-5;
    }

    .footer__copyright a:nth-child(2) {
        @apply text-cyan-400;
    }
}
